@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MasterAdmin.cshtml";

}
 @model List<Admin_Sport.Models.Products>
<div class="container">
    <a href="/Product/Create" class="btn btn-success mb-3">Thêm mới</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>MÃ Sp</th>
                <th>TÊN Sp</th>
                <th>Gia</th>
                <th>category</th>
                <th>type</th>
                <th>color</th>
                <th>size</th>
                <th>Quantity</th>
                <th>Saled</th>
                <th>Description</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductId</td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                   <td>@item.CategoryId</td> 
                    <td>@item.Type</td>
                    <td>@item.Color</td>
                    <td>@item.Size</td>
                    <td>@item.Quantity</td>
                    <td>@item.Saled</td>
                    <td>@item.Description</td>
                    <td>@item.DateSubmitted</td>
                </tr>
            }
        </tbody>
    </table>
</div>

