
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model List<WebThanhCode.Models.Order>
<h5 style="text-align: center">Danh sách đơn hàng</h5>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Mã đơn hàng</th>
                <th>Tên đơn hàng</th>
                <th>Người đặt hàng</th>
                <th>Trạng thái</th>
                <th>Ngày đặt</th>
                <th>Chi tiết</th>
                <th>Xóa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.OrderId</td>
                    <td>@order.OrderName</td>
                    <td>@order.User.UserName</td>
                    <td>@order.Status</td>
                    <td>@order.CreatedAt</td>
                    <td><a href="/chitiet-donhang/@order.OrderId" class="btn btn-success">Chi tiết</a></td>
                    <td><a href="/xoa-donhang/@order.OrderId" class="btn btn-danger">Xóa</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>



