
@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
    ShopTheThaoContext context = new ShopTheThaoContext();
    var listOrder = context.Orders.Where(o => o.UserId == Model.UserId);
}
@model Website_Sport.Models.User
<link rel="stylesheet" href="../MasterLayout/style.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="account-info" style="height:auto">
    <h4>Thông tin cá nhân</h4>
    <table class="table-info">
        <thead>
            <tr>
                <th>Họ tên</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.UserName</td>
                <td>@Model.Email</td>
                <td>@Model.Address</td>
                <td>@Model.Phone</td>
            </tr>
        </tbody>
    </table>
    <a href="/doi-matkhau" style="color: red">Đổi mật khẩu</a> |
    <a href="/doi-thongtin" style="color: green">Đổi thông tin</a>
    <h4>Lịch sử đơn hàng</h4>
    <table class="table-info">
        <thead>
            <tr>
                <th>Mã đơn hàng</th>
                <th>Tên đơn hàng</th>
                <th>Trạng thái</th>
                <th>Ngày đặt hàng</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var order in listOrder)
            {
                <tr>
                    <td>@order.OrderId</td>
                    <td>@order.OrderName</td>
                    <td>@(order.Status == "0" ? "Đang chờ xác nhận" : "Đã xác nhận")</td>
                    <td>@order.CreatedAt</td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/logout" style="text-decoration: none; color: red">Logout</a>
</div>

