
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
@using X.PagedList.Mvc.Core;
@* @model List<Website_Sport.Models.Product> *@
@model X.PagedList.IPagedList<Website_Sport.Models.Product>
    <link rel="stylesheet" href="../MasterLayout/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    .header {
        /* Loại bỏ thuộc tính CSS cụ thể */
        background: initial !important; /* Hoặc có thể sử dụng giá trị khác như 'unset' */
    }
    </style>
    <div class="small-container">

        <div class="row row-2">
            <h2>All Products</h2>
            <select>
                <option>Default Shop</option>
                <option>Short by price</option>
                <option>Short by popularity</option>
                <option>Short by Rating</option>
                <option>Short by Sale</option>
            </select>
        </div>

        <div class="row">
        @foreach (var item in Model)
        {
            <script>
                console.log(@(item.Images.First().Image1))
                </script>
            <div class="col-4">
                <a href="product-detail/@item.ProductId">
                    <img src="http://localhost:5177/api/product@(item.Images.First().Image1)"
                         alt="Product Image">
                    <h4>@item.Type</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>@item.Price</p>
                </a>
            </div>
        }

     @*    <div class="page-btn">
        <span>
            @Html.PagedListPager(Model, page=>Url.Action("Index", new {page=page}))
        </span>
        </div> *@
    <nav aria-label="Page navigation example" style="margin-bottom: 12px">
        <ul class="pagination">
            <li class="page-item"> @Html.PagedListPager(Model, page=>Url.Action("Index", new {page=page}))</li>
        </ul>
    </nav> 
    </div>

        <!-- ------------------- js for toggle menu-------------- -->
        <script>
            var MenuItems = document.getElementById("MenuItems");

            MenuItems.style.maxHeight = "0px";

            function menutoggle() {
                if (MenuItems.style.maxHeight == "0px") {
                    MenuItems.style.maxHeight = "200px";
                }
                else {
                    MenuItems.style.maxHeight = "0px";
                }
            }

        </script>


